/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 19 Jun, 2020, 8:14:07 PM
    Author     : Baishalee
*/


#banner_image{
    padding-top: 75px;   
    padding-bottom: 50px;
    text-align: center;
    
    color: #f8f8f8; 
    background: url(img/banner_image_2.jfif) repeat center center;
    background-size: cover;
    
}

#banner_content{
    position: relative;
    padding-top: 6%;
    padding-bottom: 6%;
    margin-top: 12%;
    margin-bottom: 12%;
    margin-left: 12%;
    margin-right: 12%;
    background-color: rgba(0,0,0,0.7);
    max-width: 660px;
}

footer{
    padding: 10px 0;
    background-color: #101010;
    color: #9d9d9d;
    bottom: 0;
    width: 100%;
    position: fixed;
}

#modal_footer{
    text-align: left;
}

#Register_link{
    color: green;
    text-decoration: none;
}

#forgot_password_link{
    color: lightgray;
    text-align: right;
    text-decoration: none;
    
}

#forgot_password_link:hover{
    text-decoration: underline;
    color: blue;
}

header{
    
}

body{
    padding-top: 80px;
    padding-bottom: 200px;
}

#form_container{
    
}

.thumbnail>img{
    height: 150px;
    width: 250px;
}

.thumbnail{
    
}

#cart_table{
    
}

.button{
    font: bold 11px Arial;
    text-decoration: none;
    background-color: #EEEEEE;
    color: #333333;
    padding: 4px 8px;
    border-top: 1px solid #CCCCCC;
    border-right: 1px solid #333333;
    border-bottom: 1px solid #333333;
    border-left: 1px solid #CCCCCC;
}
.button:hover{
    text-decoration: none;
}

.add_product{
    padding-bottom: 40px;
    padding-top: 40px;
}

/*sign-up page*/

form>ul{
    list-style-type: none;
}

form>ul>li{
    font-size: 25px;
}

form>ul>li>a:hover{
    text-decoration: none;
    color: black;
}















@keyframes bounce {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.5);
  }
  100% {
    transform: scale(1);
  }
}

.sidebar {
    background-color: white;
    height: 100vh;
    width: 100%;
    /*border: 2px solid black;*/
    transition: all 0.3s linear;
}
@media(min-width:700px) {
    .sidebar {
        width: 60rem;
    }
}
.sidebar_show {
    transform: translate(0);
}
.sidebar_hide {
    transform: translate(-100%);
}
.filter_bar_overlap{
    position: absolute;
}

.links {
    height: 75vh;
    padding: 20px 0;
}
.links li {
    /*margin: 10px 0;*/
    text-align: left;
    padding: 10px 10px;
    list-style: none;
    font-size: 16px;
}